.navbar-icon-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background:$primary;
    font-size: .6rem;
    line-height: 20px;
}
.card-img-top:hover{
    opacity: 0.6;
    transition: opacity 0.4s ease-in-out; 
  /*   transition 可不寫 */
}
.icon{
    width: 10px;
    height: 10px;
}